<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BE CoderHouse</title>
    <link rel="stylesheet" href="index.css">
</head>

<body>
    <header>
        <div class="container">
            <h1>BE CoderHouse - API</h1>
        </div>
    </header>
    <main class="container">
        {{{body}}}
    </main>
    {{!--
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.8.1/socket.io.min.js"></script>
    --}}
    <script src="/socket.io/socket.io.js"></script>
    <script src="index.js"></script>
</body>

</html>